.brick {
    margin: 0 !important;
    border: 1px gray dotted;
    display: block;
    float: left;
    font-family: calibri;
    font-size: 16px;
    height: 35px;
    width: 100%;
    opacity: 0.8;
    -webkit-transition: color,box-shadow 0.75s;
}

.brick:hover {
    opacity: 1;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
}

.brick-icon { }


.w-1 > .brick {
    background-color: rgba(229, 116, 0, 0.8);
    background-image: url(../styles/images/waffle_pat.png)
}
.w-2 > .brick {
    background-color: rgba(225, 122, 0, 0.8);
    background-image: url(../styles/images/waffle_pat.png)
}
.w-3 > .brick {
    background-color: rgba(222, 129, 0, 0.8);
    background-image: url(../styles/images/waffle_pat.png)
}
.w-4 > .brick {
    background-color: rgba(218, 136, 0, 0.8);
    background-image: url(../styles/images/waffle_pat.png)
}
.w-5 > .brick {
    background-color: rgba(215, 142, 0, 0.8);
    background-image: url(../styles/images/waffle_pat.png)
}
.w-6 > .brick {
    background-color: rgba(211, 149, 0, 0.8);
    background-image: url(../styles/images/waffle_pat.png)
}
.w-7 > .brick {
    background-color: rgba(208, 156, 0, 0.8);
    background-image: url(../styles/images/waffle_pat.png)
}
.w-8 > .brick {
    background-color: rgba(204, 163, 0, 0.8);
    background-image: url(../styles/images/waffle_pat.png)
}
.w-9 > .brick {
    background-color: rgba(201, 169, 0, 0.8);
    background-image: url(../styles/images/waffle_pat.png)
}
.w-10 > .brick {
    background-color: rgba(198, 176, 0, 0.8);
    background-image: url(../styles/images/waffle_pat.png)
}
.w-11 > .brick {
    background-color: rgba(195, 183, 0, 0.8);
    background-image: url(../styles/images/waffle_pat.png)
}
.w-12 > .brick {
    background-color: rgba(191, 190, 0, 0.8);
    background-image: url(../styles/images/waffle_pat.png)
}

.w-auto > .brick { background-color: orange; background-image: url(../styles/images/waffle_pat.png)}


.w-omega > .brick { }
.w-alpha > .brick { }


#resolution {
    color: black;
    display: block;
    font-size: 30px;
    left: 2.5%;
    opacity: 0.7;
    position: fixed;
    top: 2.5%;
}

/*xx-large*/
@media (min-width: 1880px) {
    #resolution::after { content: "1880 +"; }
}

@media (min-width: 1780px) and (max-width: 1879px) {
    #resolution::after { content: "1780-1879"; }
}

@media (min-width: 1680px) and (max-width: 1779px) {
    #resolution::after { content: "1680-1779"; }
}

@media (min-width: 1580px) and (max-width: 1679px) {
    #resolution::after { content: "1580-1679"; }
}


@media (min-width: 1480px) and (max-width: 1579px) {
    #resolution::after { content: "1480-1579"; }
}

@media (min-width: 1380px) and (max-width: 1479px) {
    #resolution::after { content: "1380-1479"; }
}

@media (min-width: 1280px) and (max-width: 1379px) {
    #resolution::after { content: "1280-1379"; }
}

    /*Large*/
@media (min-width: 1153px) and (max-width: 1279px) {
    #resolution::after { content: "1153-1279"; }
}

@media (min-width: 1088px) and (max-width: 1152px) {
    #resolution::after { content: "1088-1152"; }    
}

@media (min-width: 1058px) and (max-width: 1087px) {
    #resolution::after { content: "1058-1087"; }
}

@media (min-width: 1024px) and (max-width: 1057px) {
    #resolution::after { content: "1024-1057"; }
}

@media (min-width: 1008px) and (max-width: 1023px) {    
    #resolution::after { content: "1008-1023"; }    
}

@media (min-width: 993px) and (max-width: 1007px) {
    #resolution::after { content: "993-1007"; }    
}

@media (min-width: 976px) and (max-width: 992px) {
    #resolution::after { content: "976-992"; }
}

@media (min-width: 960px) and (max-width: 975px) {
    #resolution::after { content: "960-975"; }
}

@media (min-width: 940px) and (max-width: 959px) {
    #resolution::after { content: "940-959"; }
}

@media (min-width: 920px) and (max-width: 939px) {
    #resolution::after { content: "920-939"; }
}

@media (min-width: 880px) and (max-width: 919px) {
    #resolution::after { content: "880-919"; }
}


@media (min-width: 840px) and (max-width: 879px) {
    #resolution::after { content: "840-879"; }
}

@media (min-width: 800px) and (max-width: 839px) {
    #resolution::after { content: "800-839"; }
}

@media (min-width: 760px) and (max-width: 799px) {
    #resolution::after { content: "760-799"; }
}
@media (min-width: 720px) and (max-width: 759px) {
    #resolution::after { content: "720-759"; }
}
@media (min-width: 680px) and (max-width: 719px) {
    #resolution::after { content: "680-719"; }
}
@media (min-width: 640px) and (max-width: 679px) {
    #resolution::after { content: "640-679"; }
}
@media (min-width: 600px) and (max-width: 639px) {
    #resolution::after { content: "600-639"; }
}

@media (min-width: 560px) and (max-width: 599px) {
    #resolution::after { content: "560-599"; }
}
@media (min-width: 520px) and (max-width: 559px) {
    #resolution::after { content: "520-559"; }
}
@media (min-width: 480px) and (max-width: 519px) {
    #resolution::after { content: "480-519"; }
}
@media (min-width: 440px) and (max-width: 479px) {
    #resolution::after { content: "440-479"; }
}
@media (min-width: 400px) and (max-width: 439px) {
    #resolution::after { content: "400-439"; }
}

@media (min-width: 360px) and (max-width: 399px) {
    #resolution::after { content: "360-399"; }
}

@media (min-width: 320px) and (max-width: 359px) {
    #resolution::after { content: "320-359"; }
}
@media (min-width: 0px) and (max-width: 319px) {
    #resolution::after { content: "280-319"; }
}


