.brick {  background-color: lightgrey; background-image: -webkit-repeating-linear-gradient(120deg, rgba(255, 255, 255, .1), rgba(255, 255, 255, .1) 1px, transparent 1px, transparent 60px), -webkit-repeating-linear-gradient(60deg, rgba(255, 255, 255, .1), rgba(255, 255, 255, .1) 1px, transparent 1px, transparent 60px), -webkit-linear-gradient(60deg, rgba(0, 0, 0, .1) 25%, transparent 25%, transparent 75%, rgba(0, 0, 0, .1) 75%, rgba(0, 0, 0, .1)), -webkit-linear-gradient(120deg, rgba(0, 0, 0, .1) 25%, transparent 25%, transparent 75%, rgba(0, 0, 0, .1) 75%, rgba(0, 0, 0, .1)); background-size: 35px 60px; border: 1px gray dotted; font-family: calibri; font-size: 10px; height: 12px; width: 100%; display:block; float:left }

.brick-icon {background-color:aqua}


.w-1 > .brick { background-color: #FF6699; }
.w-2 > .brick { background-color: #E85DA2; }
.w-3 > .brick { background-color: #D153AC; }
.w-4 > .brick { background-color: #B94AB5; }
.w-5 > .brick { background-color: #A241BE; }
.w-6 > .brick { background-color: #8B38C7; }
.w-7 > .brick { background-color: #742ED1; }
.w-8 > .brick { background-color: #5D25DA; }
.w-9 > .brick { background-color: #461CE3; }
.w-10 >.brick { background-color: #2E13EC; }
.w-11 >.brick { background-color: #1709F6; }
.w-12 > .brick { background-color: #0000FF; }

.w-auto > .brick { background-color: aqua; }


.w-omega > .brick { background-color: yellow; }
.w-alpha > .brick { background-color: yellowgreen; }


#resolution { color: darkslategray; display: block; font-size: 30px; left: 2.5%; opacity: 0.7; position: fixed; top: 2.5%; }

/*xx-large*/
@media (min-width: 1680px) {
    #resolution::after { content: "1680 +"; }
}

@media (min-width: 1580px) and (max-width: 1879px) {
#resolution::after { content: "1580-1879"; }
}


@media (min-width: 1480px) and (max-width: 1579px) {
    #resolution::after { content: "1480-1579"; }
}

@media (min-width: 1380px) and (max-width: 1479px) 
{ 
    #resolution::after { content: "1380-1479"; }
}

@media (min-width: 1280px) and (max-width: 1379px) 
{ 
    #resolution::after { content: "1280-1379"; }
}

/*Large*/
@media (min-width: 1153px) and (max-width: 1279px) {
    #resolution::after { content: "1153-1279"; }
}

@media (min-width: 1088px) and (max-width: 1152px) {
    #resolution::after { content: "1088-1152"; }
    
}

@media (min-width: 1058px) and (max-width: 1087px) {
    #resolution::after { content: "1058-1087"; }
}

@media (min-width: 1024px) and (max-width: 1057px) {
    #resolution::after { content: "1024-1057"; }
}

@media (min-width: 1008px) and (max-width:1023px) 
{
    
    #resolution::after { content: "1008-1023"; }
    
}

@media (min-width: 993px) and (max-width:1007px) 
{
    #resolution::after { content: "993-1007"; }
    
}

@media (min-width: 976px) and (max-width: 992px) {
    #resolution::after { content: "976-992"; }
}

@media (min-width: 960px) and (max-width: 975px) {
    #resolution::after { content: "960-975"; }
}

@media (min-width: 940px) and (max-width: 959px) {
     #resolution::after { content: "940-959"; }
}

@media (min-width: 920px) and (max-width: 939px) {
     #resolution::after { content: "920-939"; }
}

@media (min-width: 880px) and (max-width: 919px) {
    #resolution::after { content: "880-919"; }
}


@media (min-width: 840px) and (max-width: 879px) {
    #resolution::after { content: "840-879"; }
}

@media (min-width: 800px) and (max-width: 839px) {
    #resolution::after { content: "800-839"; }
}

@media (min-width: 760px) and (max-width: 799px) {
    #resolution::after { content: "760-799"; }
}
@media (min-width: 720px) and (max-width: 759px) {
    #resolution::after { content: "720-759"; }
}
@media (min-width: 680px) and (max-width: 719px) {
    #resolution::after { content: "680-719"; }
}
@media (min-width: 640px) and (max-width: 679px) {
    #resolution::after { content: "640-679"; }
}
@media (min-width: 600px) and (max-width: 639px) {
    #resolution::after { content: "600-639"; }
}

@media (min-width: 560px) and (max-width: 599px) {
    #resolution::after { content: "560-599"; }
}
@media (min-width: 520px) and (max-width: 559px) {
    #resolution::after { content: "520-559"; }
}
@media (min-width: 480px) and (max-width: 519px) {
    #resolution::after { content: "480-519"; }
}
@media (min-width: 440px) and (max-width: 479px) {
    #resolution::after { content: "440-479"; }
}
@media (min-width: 400px) and (max-width: 439px) {
    #resolution::after { content: "400-439"; }
}

@media (min-width: 360px) and (max-width: 399px) {
    #resolution::after { content: "360-399"; }
}

@media (min-width: 320px) and (max-width: 359px) {
    #resolution::after { content: "320-359"; }
}
@media (min-width: 0px) and (max-width: 319px) {
    #resolution::after { content: "280-319"; }
}


