body {
    background-color: #b5912a;
    background-image: -webkit-linear-gradient(90deg, transparent 50%, rgba(255, 255, 255, .15) 50%);
    background-size: 100px 100px;
    font-family: Calibri, Helvetica;
}

.title {
    height: 20px;
}

h1 { font-size: 40px; text-align: left; text-indent: 90px;}

h1 > a{
    color: rgba(255, 255, 255, 0.97) !important;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

h2 {

    font-size: 25px;
    text-align: center;
}

a {
    -webkit-transition: color,text-shadow 0.75s;
    color: darkblue;
    text-decoration: none;
}

a:hover {
    color: black;
    text-decoration: none;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
    filter: dropshadow(color=#242424, offx=1, offy=1);
}
a:visited {
    color: darkblue;
    text-decoration: none;
}

a:visited:hover {
    color: black;
    text-decoration: none;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
    filter: dropshadow(color=#242424, offx=1, offy=1);
}

a.current-location {

    color: #e2550e;
    font-weight: 500;
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 15px;
}

.navigation-menu {
    background-color: rgba(255, 255, 255, 0.4);
    border-radius: 60px;
    -webkit-transition: background-color, border-radius 1.5s ease;
}

.navigation-menu:hover {
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 60px;
}

.home-button {
    border-radius: 60px;
    display: block;
}

.home-button-icon {
     width: 100%;
}

.navigation-menu-list {
    border-radius: 35px;
    min-height: 40px;
}

.navigation-menu li {
    -webkit-transition: background-color,border-radius 1.5s ease;
    border-radius: 15px;
    display: block;
    font-size: 18px;
    min-height: 30px;
    text-align: center;
}

.navigation-menu li a {
    display: block;
    min-height: 30px;
    padding: 2px;
}

.navigation-menu li:hover {
    background-color:  rgba(255, 255, 255, 0.6);
}

.content-zone {
    min-height:50px;
    background-color: rgba(255, 255, 255, 0.4);
    -webkit-transition: background-color 1.5s ease;
    border-radius: 12px;
}

.content-zone:hover {  
    background-color: rgba(255, 255, 255, 0.6);
  
}


.pug-head {
    width: 100%;
    border-radius: 70px;
    border: 2px solid white;
    cursor:pointer;
}




.dialog-bubble {  
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 15px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

.dialog-bubble p {
    padding: 8px
}

.dialog-bubble p {
    padding: 8px
}

.nextlink {
    text-align: center;
    font-size:19px
}


  .ui-tooltip, .arrow:after {
        background: black;
        border: 2px solid white;
    }
    .ui-tooltip {
        padding: 10px 20px;
        color: white;
        border-radius: 20px;
        font: bold 14px "Helvetica Neue", Sans-Serif;
        text-transform: uppercase;
        box-shadow: 0 0 7px black;
    }
    .arrow {
        width: 70px;
        height: 16px;
        overflow: hidden;
        position: absolute;
        left: 50%;
        margin-left: -35px;
        bottom: -16px;
    }
    .arrow.top {
        top: -16px;
        bottom: auto;
    }
    .arrow.left {
        left: 20%;
    }
    .arrow:after {
        content: "";
        position: absolute;
        left: 20px;
        top: -20px;
        width: 25px;
        height: 25px;
        box-shadow: 6px 5px 9px -9px black;
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        transform: rotate(45deg);
    }
    .arrow.top:after {
        bottom: -20px;
        top: auto;
    }