@font-face { font-family: 'icon-font'; src: url('font/icon-font.eot'); src: url('font/icon-font.eot?#iefix') format('embedded-opentype'), url('font/icon-font.svg#icon-font') format('svg'), url('font/icon-font.woff') format('woff'), url('font/icon-font.ttf') format('truetype'); font-weight: normal; font-style: normal; }

.ui-icon { -webkit-font-smoothing: antialiased; content: attr(data-icon); display: block; font-size: 16px; font-style: normal; font-weight: normal; height: 16px; letter-spacing: 2px; line-height: 100%; overflow: hidden; padding: 0px; width: 16px; }

.ui-icon:before { content: attr(data-icon); font-family: 'icon-font'; font-style: normal; speak: none; }

/*Icon Font Sizes*/
.ui-icon-24 { font-size: 24px; height: 24px; width: 24px; }

.ui-icon-32 { font-size: 32px; height: 32px; width: 32px; }

.ui-icon-48 { font-size: 48px; height: 48px; width: 48px; }

.ui-icon-64 { font-size: 64px; height: 64px; width: 64px; }





/*debuggin prosef*/
.ui-icon{ background-color: blue; color:red}
.ui-icon-24 { background-color: orange; color:blue }
              
.ui-icon-32 { background-color: green; color:yellow }
             
.ui-icon-48 { background-color: white; color:black }
             
.ui-icon-64 { background-color: red; color:yellow }

/*Icon Font Decorators*/
.ui-icon-decorator-dropShadow { text-shadow: 0 2px 3px #343434; }

.ui-icon-decorator-glow { }


.ui-icon-document-line-item:before { content: "\21"; }

.ui-icon-finance-cash:before { content: "\22"; }

.ui-icon-finance-check:before { content: "\23"; }

.ui-icon-finance-creditcard:before { content: "\24"; }

.ui-icon-finance-yen:before { content: "\25"; }

.ui-icon-finance-pounds:before { content: "\26"; }

.ui-icon-finance-euro:before { content: "\27"; }

.ui-icon-finance-dollar:before { content: "\28"; }

.ui-icon-circle-dollar:before { content: "\29"; }

.ui-icon-circle-person:before { content: "\2a"; }

.ui-icon-monitor:before { content: "\2b"; }

.ui-icon-laptop:before { content: "\2c"; }

.ui-icon-git-kitty:before { content: "\2d"; }

.ui-icon-database:before { content: "\2e"; }

.ui-icon-person:before { content: "\2f"; }

.ui-icon-cart:before { content: "\30"; }

.ui-icon-grid:before { content: "\31"; }

.ui-icon-excel:before { content: "\32"; }

.ui-icon-pdf:before { content: "\33"; }

.ui-icon-text-style-increase-lineheight:before { content: "\34"; }

.ui-icon-text-style-decrease-lineheight:before { content: "\35"; }

.ui-icon-text-style-underline:before { content: "\36"; }

.ui-icon-text-style-normal:before { content: "\37"; }

.ui-icon-text-style-italic:before { content: "\38"; }

.ui-icon-text-style-bold-italic:before { content: "\39"; }

.ui-icon-text-style-bold:before { content: "\3a"; }

.ui-icon-phone:before { content: "\3b"; }

.ui-icon-sliders:before { content: "\3c"; }

.ui-icon-history-undo:before { content: "\3d"; }

.ui-icon-display-dropdown:before { content: "\3e"; }

.ui-icon-tabs:before { content: "\3f"; }

.ui-icon-text-justify-ragged-right:before { content: "\40"; }

.ui-icon-text-justify-ragged-left:before { content: "\41"; }

.ui-icon-text-increase-indent:before { content: "\42"; }

.ui-icon-text-decrease-indent:before { content: "\43"; }

.ui-icon-text-align-right:before { content: "\44"; }

.ui-icon-text-align-left:before { content: "\45"; }

.ui-icon-text-align-center:before { content: "\46"; }

.ui-icon-selected-grid:before { content: "\47"; }

.ui-icon-selected:before { content: "\48"; }

.ui-icon-none-selected-grid:before { content: "\49"; }

.ui-icon-none-selected:before { content: "\4a"; }

.ui-icon-list:before { content: "\4b"; }

.ui-icon-grid-insertrow-below:before { content: "\4c"; }

.ui-icon-grid-insertrow-above:before { content: "\4d"; }

.ui-icon-all-selected-grid:before { content: "\4e"; }

.ui-icon-all-selected:before { content: "\4f"; }

.ui-icon-power-plug:before { content: "\50"; }

.ui-icon-phone-b:before { content: "\51"; }

.ui-icon-video-b:before { content: "\52"; }

.ui-icon-stop-sign:before { content: "\53"; }

.ui-icon-folder-ghost:before { content: "\54"; }

.ui-icon-folder-outline:before { content: "\55"; }

.ui-icon-location:before { content: "\56"; }

.ui-icon-arrowthick-2-n-s:before { content: "\57"; }

.ui-icon-arrowthick-1-ne:before { content: "\58"; }

.ui-icon-seek-first:before { content: "\59"; }

.ui-icon-arrowrefresh-1-e:before { content: "\5a"; }

.ui-icon-arrowrefresh-1-s:before { content: "\5b"; }

.ui-icon-arrowrefresh-1-n:before { content: "\5c"; }

.ui-icon-gripsmall-diagonal-se:before { content: "\5d"; }

.ui-icon-grip-diagonal-se:before { content: "\5e"; }

.ui-icon-grip-solid-vertical:before { content: "\5f"; }

.ui-icon-grip-solid-horizontal:before { content: "\60"; }

.ui-icon-grip-dotted-vertical:before { content: "\61"; }

.ui-icon-grip-dotted-horizontal:before { content: "\62"; }

.ui-icon-truck:before { content: "\63"; }

.ui-icon-gas-b:before { content: "\64"; }

.ui-icon-gas:before { content: "\65"; }

.ui-icon-barrel:before { content: "\66"; }

.ui-icon-dashboard:before { content: "\67"; }

.ui-icon-drip:before { content: "\68"; }

.ui-icon-clipboard:before { content: "\69"; }

.ui-icon-contact:before { content: "\6a"; }

.ui-icon-cloud-upload:before { content: "\6b"; }

.ui-icon-cloud-download:before { content: "\6c"; }

.ui-icon-cloud:before { content: "\6d"; }

.ui-icon-radio-off:before { content: "\6e"; }

.ui-icon-bullet:before { content: "\6f"; }

.ui-icon-bullet-b:before { content: "\70"; }

.ui-icon-smart-phone:before { content: "\72"; }

.ui-icon-arrowreturn-1-s:before { content: "\73"; }

.ui-icon-arrowreturn-1-n:before { content: "\74"; }

.ui-icon-arrowreturn-1-e:before { content: "\75"; }

.ui-icon-arrowreturnthick-1-e:before { content: "\76"; }

.ui-icon-arrowreturnthick-1-s:before { content: "\77"; }

.ui-icon-arrowreturnthick-1-w:before { content: "\78"; }

.ui-icon-arrowreturnthick-1-n:before { content: "\79"; }

.ui-icon-carat-2-ne-sw:before { content: "\7a"; }

.ui-icon-carat-2-nw-se:before { content: "\7b"; }

.ui-icon-carat-2-n-s:before { content: "\7c"; }

.ui-icon-carat-2-e-w:before { content: "\7d"; }

.ui-icon-carat-1-n:before { content: "\e000"; }

.ui-icon-carat-1-e:before { content: "\e001"; }

.ui-icon-carat-1-s:before { content: "\e002"; }

.ui-icon-carat-1-nw:before { content: "\e003"; }

.ui-icon-carat-1-ne:before { content: "\e004"; }

.ui-icon-carat-1-se:before { content: "\e005"; }

.ui-icon-carat-1-sw:before { content: "\e006"; }

.ui-icon-triangle-2-n-s:before { content: "\e007"; }

.ui-icon-triangle-2-e-w:before { content: "\e008"; }

.ui-icon-triangle-1-nw:before { content: "\e009"; }

.ui-icon-triangle-1-ne:before { content: "\e00a"; }

.ui-icon-triangle-1-se:before { content: "\e00b"; }

.ui-icon-triangle-1-sw:before { content: "\e00c"; }

.ui-icon-triangle-1-w:before { content: "\e00d"; }

.ui-icon-triangle-1-n:before { content: "\e00e"; }

.ui-icon-triangle-1-s:before { content: "\e00f"; }

.ui-icon-triangle-1-e:before { content: "\e010"; }

.ui-icon-arrowstop-1-w:before { content: "\e011"; }

.ui-icon-arrowstop-1-n:before { content: "\e012"; }

.ui-icon-arrowstop-1-e:before { content: "\e013"; }

.ui-icon-arrowstop-1-s:before { content: "\e014"; }

.ui-icon-arrow-2-se-nw:before { content: "\e015"; }

.ui-icon-arrow-2-ne-sw:before { content: "\e016"; }

.ui-icon-arrow-2-e-w:before { content: "\e017"; }

.ui-icon-arrow-2-n-s:before { content: "\e018"; }

.ui-icon-arrow-1-n:before { content: "\e019"; }

.ui-icon-arrow-1-e:before { content: "\e01a"; }

.ui-icon-arrow-1-s:before { content: "\e01b"; }

.ui-icon-arrow-1-w:before { content: "\e01c"; }

.ui-icon-arrow-1-ne:before { content: "\e01d"; }

.ui-icon-arrow-1-se:before { content: "\e01e"; }

.ui-icon-arrow-1-sw:before { content: "\e01f"; }

.ui-icon-arrow-1-ne-2:before { content: "\e020"; }

.ui-icon-shuffle:before { content: "\e021"; }

.ui-icon-transfer-e-w:before { content: "\e022"; }

.ui-icon-no-repeat:before { content: "\e023"; }

.ui-icon-refresh:before { content: "\e024"; }

.ui-icon-newwin:before { content: "\e025"; }

.ui-icon-extlink:before { content: "\e026"; }

.ui-icon-arrow-4-diag:before { content: "\e027"; }

.ui-icon-arrow-4:before { content: "\e028"; }

.ui-icon-graph-bar-vertical:before { content: "\e029"; }

.ui-icon-graph-bar-horizontal:before { content: "\e02a"; }

.ui-icon-graph-pie-7:before { content: "\e02b"; }

.ui-icon-graph-pie-5:before { content: "\e02c"; }

.ui-icon-alarm:before { content: "\e02d"; }

.ui-icon-battery-0:before { content: "\e02e"; }

.ui-icon-battery-1:before { content: "\e02f"; }

.ui-icon-battery-2:before { content: "\e030"; }

.ui-icon-battery-3:before { content: "\e031"; }

.ui-icon-bolt:before { content: "\e032"; }

.ui-icon-signal:before { content: "\e033"; }

.ui-icon-signal-diag:before { content: "\e034"; }

.ui-icon-power:before { content: "\e035"; }

.ui-icon-volume-on:before { content: "\e036"; }

.ui-icon-volume-1:before { content: "\e037"; }

.ui-icon-volume-off:before { content: "\e038"; }

.ui-icon-eject:before { content: "\e039"; }

.ui-icon-seek-next:before { content: "\e03a"; }

.ui-icon-seek-prev:before { content: "\e03b"; }

.ui-icon-seek-end:before { content: "\e03c"; }

.ui-icon-pause:before { content: "\e03d"; }

.ui-icon-play:before { content: "\e03e"; }

.ui-icon-stop:before { content: "\e03f"; }

.ui-icon-document-cog:before { content: "\e040"; }

.ui-icon-document-key:before { content: "\e041"; }

.ui-icon-document-x:before { content: "\e042"; }

.ui-icon-document-edit:before { content: "\e043"; }

.ui-icon-document-dollar:before { content: "\e044"; }

.ui-icon-document-arrow-left:before { content: "\e045"; }

.ui-icon-document-arrow-down:before { content: "\e046"; }

.ui-icon-document-arrow-right:before { content: "\e047"; }

.ui-icon-document-arrow-up:before { content: "\e048"; }

.ui-icon-person-dollar:before { content: "\e049"; }

.ui-icon-dollar-percent:before { content: "\e04a"; }

.ui-icon-cart-dollar:before { content: "\e04b"; }

.ui-icon-terminal:before { content: "\e04c"; }

.ui-icon-person-arrow-s:before { content: "\e04d"; }

.ui-icon-company-dollar:before { content: "\e04e"; }

.ui-icon-dollar-arrow-w:before { content: "\e04f"; }

.ui-icon-box-arrow-s:before { content: "\e050"; }

.ui-icon-box-dollar:before { content: "\e051"; }

.ui-icon-box:before { content: "\e052"; }

.ui-icon-toolbox:before { content: "\e053"; }

.ui-icon-video:before { content: "\e054"; }

.ui-icon-image-b:before { content: "\e055"; }

.ui-icon-image:before { content: "\e056"; }

.ui-icon-hourglass:before { content: "\e057"; }

.ui-icon-key:before { content: "\e058"; }

.ui-icon-lightbulb:before { content: "\e059"; }

.ui-icon-pin-w:before { content: "\e05a"; }

.ui-icon-pin-s:before { content: "\e05b"; }

.ui-icon-bookmark:before { content: "\e05c"; }

.ui-icon-filter:before { content: "\e05d"; }

.ui-icon-pencil:before { content: "\e05e"; }

.ui-icon-copy:before { content: "\e05f"; }

.ui-icon-notice:before { content: "\e060"; }

.ui-icon-help:before { content: "\e061"; }

.ui-icon-harddrive:before { content: "\e062"; }

.ui-icon-download:before { content: "\e063"; }

.ui-icon-derrick:before { content: "\e064"; }

.ui-icon-rig:before { content: "\e065"; }

.ui-icon-arrowthick-2-e-w:before { content: "\e066"; }

.ui-icon-arrowthick-2-nw-se:before { content: "\e067"; }

.ui-icon-arrowthick-2-ne-sw:before { content: "\e068"; }

.ui-icon-arrowthick-1-se:before { content: "\e069"; }

.ui-icon-arrowthick-1-sw:before { content: "\e06a"; }

.ui-icon-arrowthick-1-nw:before { content: "\e06b"; }

.ui-icon-arrowthick-1-e:before { content: "\e06c"; }

.ui-icon-arrowthick-1-s:before { content: "\e06d"; }

.ui-icon-arrowthick-1-w:before { content: "\e06e"; }

.ui-icon-arrowthick-1-n:before { content: "\e06f"; }

.ui-icon-unsee:before { content: "\e070"; }

.ui-icon-see:before { content: "\e071"; }

.ui-icon-graph-line:before { content: "\e072"; }

.ui-icon-closethick:before { content: "\e073"; }

.ui-icon-plusthick:before { content: "\e074"; }

.ui-icon-minusthick:before { content: "\e075"; }

.ui-icon-cancel:before { content: "\e076"; }

.ui-icon-minus:before { content: "\e077"; }

.ui-icon-square-small-close:before { content: "\e078"; }

.ui-icon-squaresmall-plus:before { content: "\e079"; }

.ui-icon-squaresmall-minus:before { content: "\e07a"; }

.ui-icon-circlesmall-close:before { content: "\e07b"; }

.ui-icon-circlesmall-plus:before { content: "\e07c"; }

.ui-icon-circlesmall-minus:before { content: "\e07d"; }

.ui-icon-circle-question:before { content: "\e07e"; }

.ui-icon-circle-empty-star:before { content: "\e07f"; }

.ui-icon-circle-star:before { content: "\e080"; }

.ui-icon-circle-minus:before { content: "\e081"; }

.ui-icon-close:before { content: "\e082"; }

.ui-icon-circle-zoom:before { content: "\e083"; }

.ui-icon-circle-arrow-w:before { content: "\e084"; }

.ui-icon-circle-arrow-s:before { content: "\e085"; }

.ui-icon-circle-arrow-n:before { content: "\e086"; }

.ui-icon-circle-arrow-e:before { content: "\e087"; }

.ui-icon-circle-triangle-w:before { content: "\e088"; }

.ui-icon-circle-triangle-s:before { content: "\e089"; }

.ui-icon-circle-triangle-n:before { content: "\e08a"; }

.ui-icon-circle-triangle-e:before { content: "\e08b"; }

.ui-icon-close-small:before { content: "\e08c"; }

.ui-icon-circle-close:before { content: "\e08d"; }

.ui-icon-plus:before { content: "\e08e"; }

.ui-icon-circle-plus:before { content: "\e08f"; }

.ui-icon-circle-check:before { content: "\e090"; }

.ui-icon-check:before { content: "\e091"; }

.ui-icon-radio-on:before { content: "\e091"; }

.ui-icon-circle-empty-arrow-up:before { content: "\e092"; }

.ui-icon-circle-empty-arrow-down:before { content: "\e093"; }

.ui-icon-dollars:before { content: "\e094"; }

.ui-icon-zoomout:before { content: "\e095"; }

.ui-icon-wrench:before { content: "\e096"; }

.ui-icon-unlocked:before { content: "\e097"; }

.ui-icon-trash:before { content: "\e098"; }

.ui-icon-tags:before { content: "\e099"; }

.ui-icon-tag:before { content: "\e09a"; }

.ui-icon-suitcase:before { content: "\e09b"; }

.ui-icon-star:before { content: "\e09c"; }

.ui-icon-star-empty:before { content: "\e09d"; }

.ui-icon-search:before { content: "\e09e"; }

.ui-icon-disk:before { content: "\e09f"; }

.ui-icon-print:before { content: "\e0a0"; }

.ui-icon-note:before { content: "\e0a2"; }

.ui-icon-mail-closed:before { content: "\e0a3"; }

.ui-icon-mail-open:before { content: "\e0a4"; }

.ui-icon-locked:before { content: "\e0a5"; }

.ui-icon-layout-4:before { content: "\e0a6"; }

.ui-icon-info:before { content: "\e0a7"; }

.ui-icon-info-b:before { content: "\e0a8"; }

.ui-icon-home:before { content: "\e0a9"; }

.ui-icon-heart:before { content: "\e0aa"; }

.ui-icon-folder-collapsed:before { content: "\e0ab"; }

.ui-icon-folder-copy:before { content: "\e0ac"; }

.ui-icon-flag:before { content: "\e0ad"; }

.ui-icon-export-pdf:before { content: "\e0ae"; }

.ui-icon-export-excel:before { content: "\e0af"; }

.ui-icon-scissors:before { content: "\e0b0"; }

.ui-icon-document:before { content: "\e0b1"; }

.ui-icon-document-landscape:before { content: "\e0b2"; }

.ui-icon-document-b:before { content: "\e0b3"; }

.ui-icon-document-b-landscape:before { content: "\e0b4"; }

.ui-icon-company:before { content: "\e0b5"; }

.ui-icon-comment:before { content: "\e0b6"; }

.ui-icon-gear:before { content: "\e0b7"; }

.ui-icon-clock:before { content: "\e0b8"; }

.ui-icon-calendar:before { content: "\e0ba"; }

.ui-icon-calculator:before { content: "\e0bb"; }

.ui-icon-basket:before { content: "\e0bc"; }

.ui-icon-alert:before { content: "\e0bd"; }

.ui-icon-circle-alert:before { content: "\e0be"; }

.ui-icon-alert-empty:before { content: "\e0bf"; }

.ui-icon-folder-open:before { content: "\e0c0"; }

.ui-icon-cogset:before { content: "\e0c1"; }

.ui-icon-blank:before { content: "\a0"; }
